.head {
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
    justify-content: center;
    position: absolute;
}
.main_ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 150px;
}
.main_ul a {
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #CDCDCD;
    font-family: sans-serif;
}
.main_ul a:hover {
    color: darkred;
}
.logo {
    font-weight: bold;
    font-size: 25px;
    line-height: 0;
    color: #CDCDCD;
}
.main_nav {
    display: flex;
}
.search_block {
    display: flex;
    background: white;
    height: 40px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 10px;
}
.buttons_and_search {
    display: flex;
}
.head > .btns {
    display: flex;
}
.buttons_and_search > .btns button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #CDCDCD;
    color: white;
    font-size: 18px;
    font-weight: bold;
    outline: none;
}
.buttons_and_search > .btns > .login {
    background: black;
    margin-left: 10px;
}
.buttons_and_search > .btns > .signup {
    background: #36cd3c;
    margin-left: 5px;
}
.search_block img {
    width: 30px;
    padding-left: 5px;
    cursor: pointer;
}
.search_block input {
    border: 0;
    outline: none;
    padding-left: 10px;
    font-size: 17px;
    width: 150px;
    border-radius: 10px;
}
.profile_menu {
    margin-left: 20px;
    padding-top: 5px;
}
.profile_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    transition: all 0.3s;
}
.profile_icon img {
    width: 50px;
    margin-top: 8px;
}
.user_menu {
    margin-left: -270px;
    background: black;
    width: 300px;
    height: 190px;
    margin-top: 8px;
    padding: 5px;
}
.profile_icon:hover {
    background: #CDCDCD;
}
.user_menu > div:first-child {
    width:98%;
    height: 97%;
    background: white;
    padding: 3px;
}
.user_info p {
    font-weight: bold;
}
.user_menu p{
    margin-top: 0;
    margin-bottom: 0;
    height: 39px;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 10px;
    border: 1px solid grey;
    width: 96%;
    font-size: 18px;
    font-family: sans-serif;
    text-transform: capitalize;
    transition: all 0.3s;
}
.user_menu p:hover {
    background: #CDCDCD;
}
.user_menu {
    opacity: 0;
}