.SettingsContainer {
    height: 100vh;
    width: 96%;
    margin-left: 2%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 77%, rgba(198,198,198,1) 100%);
    padding-bottom: 220vh;
}
.navigation {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.navigation button {
    width: 200px;
    margin-left: 15px;
    height: 50px;
    border: 0;
    background: black;
    color: #ffffff;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
}
.big_form_company {
    width: 80%;
    margin-left: 10%;
    background: #ffffff;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
}
.big_form_company {
    display: flex;
}
.image_company {
    text-align: center;
    min-width: 200px;
    height: 150px;
    padding-top: 100px;
    background: #FAFAFA;
    border: 4px solid #CDCDCD;
    cursor: pointer;
}
.image_company > .plus {
    width: 30px;
    height: 20px;
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid #CDCDCD;
    color: #CDCDCD;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    line-height: 0;
}
.image_company p{
    color: grey;
    font-size: 18px;
    font-weight: 100;
    padding-top: 50px;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.container_for_company {
    margin-left: 50px;
    width: 100%;
}
.checker {
    display: flex;
    width: 280px;
    margin-top: 50px;
}
.checker_input {
    width: 35px;
    padding: 0;
    height: 20px;
    border: 2px solid black;
    transition: all 0.4s;
    cursor: pointer;
}
.checker p {
    color: darkred;
    margin-left: 20px;
    margin-top: -1px;
    font-weight: 500;
    font-family: sans-serif;
}
.inputs_company > .input {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 80%;
}
.inputs_company > .input input{
    width: 80%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    outline: none;
}
.inputs_company > .input p, .input_2 p, .Country, .Phone, .City, .input_size p{
    font-family: sans-serif;
    font-size: 20px;
    width: 160px;
}
.inputs_company > .country, .inputs_company > .city{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 80%;
}
.inputs_company > .country > .input > .select, .inputs_company > .city > .input > .select{
    margin-top: 10px;
    height: 42px;
    border: 1px solid grey;
    border-radius: 0;
}
.inputs_company > .country > .input input, .inputs_company > .city > .input input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    outline: none;
}
.inputs_company > .country > .input, .inputs_company > .city > .input{
    display: flex;
    width: 81%;
}
.inputs_company > .phone {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 20px;
}
.inputs_company > .phone > .input {
    display: flex;
    width: 79%;
}
.inputs_company > .phone > .input input {
    height: 40px;
    margin-top: 10px;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    outline: none;
}
.inputs_company > .phone p {
    font-size: 20px;
    font-family: sans-serif;
    width: 150px;
}
.inputs_company > .phone > .input input:nth-child(1){
    width: 80px;
    font-size: 20px;
    text-align: center;
    padding-right: 15px;
}
.inputs_company > .phone > .input input:nth-child(2) {
    width: 100%;
    padding-left: 10px;
}
.input_2 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}
.input_2 > div {
    width: 81%;
}
.input_2 input{
    width: 98%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    outline: none;
}
.input_2 input:nth-child(2){
    float: left;
    margin-top: 20px;
}
.input_2 img {
    margin-left: 10px;
    width: 40px;
    float: right;
    position: absolute;
    margin-top: 20px;
}
.input_size {
    display: flex;
    margin-top: 20px;
}
.input_size input {
    height: 40px;
    margin-top: 10px;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    outline: none;
    margin-left: 23px;
}
.input textarea {
    width: 80.5%;
    border: 1px solid black;
    height: 200px;
    outline: none;
    font-size: 18px;
    font-family: sans-serif;
}
.specializeP{
    font-family: sans-serif;
    font-size: 20px;
    width: 155px;
}
.specialize {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}
.specialize > .input {
    display: flex;
    width: 84%;
}
.specialize > .input input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    outline: none;
    margin-left: 23px;
}
.specialize > .input > .select {
    height: 42px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 0;
}
.grey_blocks {
    display: flex;
    margin-right: 200px;
    justify-content: center;
    margin-top: 20px;
}
.grey_blocks > .grey_block {
    width: 15%;
    cursor: pointer;
    height: 50px;
    margin-left: 20px;
    background: #CDCDCD;
}
.grey_blocks > .plus p{
    height: 20px;
    width: 30px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
    line-height: 0;
    padding-top: 10px;
    color: #535353;
    background: #CDCDCD;
    cursor: pointer;
    border: 2px solid #535353;
}
.save_button {
    display: flex;
    justify-content: center;
    margin-right: 200px;
}
.save_button button {
    width: 350px;
    border-radius: 5px;
    border:0;
    height: 40px;
    background: #33be39;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 5px 6px 0.1px #CDCDCD;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
}
.save_button button:hover {
    background: #36cd3c;
}

.textarea_2 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.textarea_2 textarea {
    width: 80%;
    min-height: 220px;
    margin-top: 10px;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    outline: none;
    margin-left: 23px;
}

.textarea_2 p, .rateP, .statusP{
    width: 160px;
    font-family: sans-serif;
    font-size: 20px;
}

.rate, .status{
    display: flex;
    width: 80%;
    margin-top: 20px;
}
.status {
    justify-content: space-between;
}
.rate > .input {
    display: flex;
}
.status > .input {
    width: 85%;
    display: flex;
}

.rate > .input input{
    width: 150px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    outline: none;
    margin-left: 23px;
}

.rate > .input > .select {
    border: 1px solid grey;
    border-radius: 0;
    margin-top: 10px;
    height: 42px;
    width: 30px;
}
.rate > .input > .select img {
    margin-left: -5px;
}
.rate > .input > .select > .options {
    margin-left: -165px;
}
.status > .input input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    outline: none;
    margin-left: 23px;
}
.status > .input > .select {
    border: 1px solid grey;
    border-radius: 0;
    margin-top: 10px;
    height: 42px;
    z-index: 99;
}
.grey_container_1, .grey_container_2{
    margin-top: 20px;
    display: flex;
    width: 90%;
    border-radius: 8px;
    border: 1px solid #242b2e;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 77%, rgba(198,198,198,1) 100%);
}
.grey_container_1 {
    height: 170px;
}
.grey_container_2 {
    height: 650px;
}
.grey_container_1_title, .grey_container_2_title{
    font-family: sans-serif;
    font-size: 20px;
    width: 150px;
    padding-left: 20px;
}
.container_selects{
    width: 100%;
    padding-right: 10px;
}
.grey_container_1 > .container_selects > .selects {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
}
.grey_container_1 > .container_selects > .selects select {
    width: 40%;
    height: 45px;
    border: 1px solid #242b2e;
    outline: none;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.grey_container_1 > .container_selects > .selects option:hover {
    background: #242b2e;
}
.grey_container_1 > .container_selects > .plus {
    width: 30px;
    height: 30px;
    border: 2px solid #242b2e;
    text-align: center;
    color: #242b2e;
    border-radius: 50%;
    float: right;
    cursor: pointer;
    margin-top: -40px;
}
.grey_container_1 > .container_selects > .selects:nth-child(2) {
    float: left;
}
.grey_container_1 > .container_selects > .plus p {
    font-size: 40px;
    line-height: 0;
    margin: 0;
    padding-top: 10px;
}

.grey_2_inputs {
    border: 1px solid #242b2e;
    width: 90%;
    margin-left: 5%;
    height: 630px;
    margin-top: 10px;
    margin-right: 20px;
}
.grey_2_inputs > .input {
    display: flex;
    margin-top: 20px;
}
.grey_2_inputs > .input p {
    font-family: sans-serif;
    font-size: 20px;
    width: 200px;
    margin-left: 10px;
}
.grey_2_inputs > .input select {
    width: 60%;
    height: 50px;
    margin-top: 10px;
    border: 1px solid #242b2e;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}
.grey_2_inputs > .calendar {
    display: flex;
    margin-top: 20px;
}
.grey_2_inputs > .calendar p, .grey_2_inputs > .description p {
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 10px;
    width: 200px;
}
.grey_2_inputs > .calendar > .calendar_block {
    width: 200px;
    height: 45px;
    border: 1px solid #242b2e;
    margin-top: 10px;
    background: #ffffff;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.grey_2_inputs > .calendar img {
    width: 30px;
}
.grey_2_inputs > .description {
    display: flex;
    margin-top: 20px;
}
.grey_2_inputs > .description textarea {
    width: 60%;
    height: 180px;
    border: 1px solid #242b2e;
    outline: none;
    font-size: 18px;
    font-family: sans-serif;
}
.grey_container_2 > .plus {
    width: 35px;
    height: 30px;
    border: 2px solid #242b2e;
    text-align: center;
    color: #242b2e;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 600px;
    margin-right: 10px;
}
.grey_container_2 > .plus p {
    font-size: 40px;
    line-height: 0;
    margin: 0;
    padding-top: 10px;
}
.grey_2_inputs > .country {
    display: flex;
    margin-top: 20px;
}
.Country_grey{
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 20px;
    min-width: 200px;
}
.grey_2_inputs > .country > .input {
    width: 100%;
    display: flex;
}
.grey_2_inputs > .country > .input input {
    width: 71.5%;
    height: 45px;
    margin-top: 10px;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    outline: none;
}
.grey_2_inputs > .country > .input > .select {
    border: 1px solid #242b2e;
    border-radius: 0;
    height: 47px;
    margin-top: 10px;
}
.grey_2_inputs > .country > .input > .select > .options {
    position: absolute;
    z-index: 99;
}
@media screen and (min-width: 1680px) {
    .input_2 input {
        width: 99%;
    }
    .inputs_company > .phone > .input{
        width: 81%;
    }
}
@media screen and (max-width: 1680px) {
    .input_size input {
        margin-left: -7px;
    }
}
@media screen and (max-width: 1380px) {
    .grey_container_1 > .container_selects > .selects {
        margin-left: -10px;
    }
    .grey_2_inputs > .input p, .Country_grey, .grey_2_inputs > .calendar p, .grey_2_inputs > .description p{
        font-size: 18px;
        width: 170px;
        min-width: 163px;
    }
    .grey_2_inputs > .calendar p{
        font-size: 18px;
        width: 163px;
    }
    .grey_2_inputs > .description textarea {
        margin-right: 20px;
        height: 160px;
    }
    .grey_2_inputs {
        height: 590px;
    }
    .grey_container_2 > .plus {
        margin-top: 560px;
    }
    .grey_container_2 {
        height: 610px;
    }
    .grey_2_inputs > .input select {
        margin-right: 20px;
    }
    .input_size input {
        margin-left: -16px;
    }
    .specialize > .input input {
        margin-left: 16px;
    }
    .grey_blocks > .grey_block {
        width: 50%;
    }
    .inputs_company > .phone > .input {
        width: 77%;
    }
    .specializeP {
        width: 133px;
    }
    .inputs_company > .phone p {
        width: 146px;
    }
    .inputs_company > .input p, .input_2 p, .Country, .Phone, .City, .input_size p, .rateP{
        width: 155px;
    }
    .input_size input {
        margin-left: -10px;
    }
    .textarea_2 textarea {
        margin-left: -4px;
    }
    .rate > .input input {
        margin-left:-10px;
    }
    .status > .input input {
        margin-left: 0;
    }
}