.CompaniesContainer {
    height: 100vh;
    width: 96%;
    margin-left: 2%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 77%, rgba(198,198,198,1) 100%);
    display: flex;
    justify-content: space-between;
}
.menu_1, .menu_2 {
    height: 100vh;
    width: 220px;
    color: white;
    background: black;
    display: inline-block;
    align-items: center;
}
.menu_1 ul{
    padding: 0;
    height: 50vh;
    margin-top: 30vh;
    list-style: none;
}
.menu_2 ul {
    height: 50vh;
    margin-top: 35vh;
    list-style: none;
    padding-left: 20px;
}
.menu_1 li, .menu_2 li{
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.menu_1 li:hover, .menu_2 li:hover{
    color: darkred;
    cursor: pointer;
}
.CompaniesContainer > .container {
    border: 1px solid grey;
    height: 80vh;
    width: 70%;
    border-radius: 10px;
    background: white;

    margin-top: 100px;
}