.LoginContainer {
    height: 100vh;
    width: 96%;
    margin-left: 2%;
    background: white;
}
.LoginContainer a {
    text-decoration: none;
}
.LoginContainer a:hover {
    text-decoration: underline;
}
.form_container {
    padding-top: 150px;
}
.form {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 77%, rgba(198,198,198,1) 100%);
    height: 400px;
    width: 400px;
    margin: 0 auto;
    border: 2px solid grey;
    border-radius: 10px;
}
.title_form {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 0;
    text-shadow: 0 5px 5px grey;
}
.form > .inputs {
    margin-top: 50px;
}
.form > .inputs input {
    width: 80%;
    margin-left: 9.7%;
    height: 40px;
    outline: none;
    border: 1px solid #242b2e;
    border-radius: 3px;
    padding-left: 5px;
    font-size: 18px;
}
.form > .inputs p {
    margin-left: 40px;
}
.form > .inputs a {
    color: black;
    font-size: 15px;
    margin-left: 240px;
}
.form > .inputs button {
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 5px 10px 0.1px grey;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
    background: #36cd3c;
    color: white;
    transition: all 0.3s;
}
.form > .inputs button:hover {
    background: #33be39;
}
.form span {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.form span > a {
    margin-left: 10px;
    color: #33be39;
    font-weight: bold;
}