.SignUpContainer {
    min-height: 100vh;
    width: 96%;
    margin-left: 2%;
    background: white;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}
.SignUpContainer a {
    text-decoration: none;
}
.SignUpContainer a:hover {
    text-decoration: underline;
}
.form_signUp {
    width: 60%;
    height: 650px;
    padding-top: 100px;
}
.form_block_signUp {
    border: 2px solid grey;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(214, 214, 214) 77%, rgba(198,198,198,1) 100%);
}
.form_block_signUp p {
    font-family: sans-serif;
}
.two_input {
    width: 100%;
    display: flex;
    justify-content: center;
}
.two_input div:nth-child(1){
    margin-left: -50px;
}
.two_input div:nth-child(2){
    margin-left: 100px;
}
.two_input_block input {
    height: 35px;
    outline: none;
    border: 1px solid #242b2e;
    border-radius: 3px;
    padding-left: 5px;
    font-size: 18px;
    width: 130%;
}
.inputs_input {
    width: 40%;
    height: 35px;
    outline: none;
    border: 1px solid #242b2e;
    border-radius: 3px;
    padding-left: 5px;
    font-size: 18px;
    margin-left: 30%;
}
.inputs_and_btns p {
    margin-left: 31%;
}
.title_signUp {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
}
.select {
    width: 50px;
    height: 40px;
    border-left: 2px solid grey;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: white;
    cursor: pointer;
    transition: all 0.3s;
    margin: 0;
}
.select:hover {
    background: #CDCDCD;
}
.select img {
    width: 40px;
    margin-left: 5px;
    margin-top: -1px;
}
.select > .options {
    display: none;
}
.select:hover > div {
    display: block;
}
.inputCountry {
    width: 40%;
    padding-left: 5px;
    background: white;
    height: 40px;
    outline: none;
    border: 1px solid #242b2e;
    border-radius: 3px;
    margin-left: 30%;
    display: flex;
}
.inputCountry input {
    height: 37px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 95%;
    border: 0;
    outline: none;
    padding-left: 5px;
    font-size: 18px;
}
.options {
    width: 200px;
    margin-left: -150px;
    height: 100px;
    background: white;
    overflow-y: scroll;
    z-index: 99;
    padding: 0;
}
.options p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-top: 1px solid black;
    font-family: sans-serif;
    transition: all 0.3s;
}
.options p:hover {
    color: white;
    background: grey;
}
.options::-webkit-scrollbar {
    width: 5px;
}
.options::-webkit-scrollbar-track {
    background: grey;
}
.options::-webkit-scrollbar-thumb {
    background: white;
}
.inputNumber {
    display: flex;
    width: 40%;
    padding-left: 5px;
    background: white;
    margin-left: 30%;
    border-radius: 5px;
    border: 1px solid #242b2e;
}
.inputNumber input:first-child {
    width: 60px;
    border-right: 2px solid grey;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    height: 40px;
    font-size: 18px;
    text-align: center;
    padding-right: 10px;
    font-family: sans-serif;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.inputNumber input:nth-child(2){
    width: 80%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 0;
    height: 40px;
    padding-left: 5px;
    font-size: 18px;
    padding-right: 10px;
    font-family: sans-serif;
    outline: none;
}
.inputs_and_btns button {
    width: 40%;
    margin-left: 30%;
    height: 40px;
    margin-top: 20px;
    background: #36cd3c;
    box-shadow: 0 5px 10px 0.1px grey;
    border: 0;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
}
.inputs_and_btns button:hover {
    background: #33be39;
}
.form_signUp > .signInBlock {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 20px;
}
.form_signUp > .signInBlock span {
    font-family: sans-serif;
    font-size: 18px;
}
.form_signUp > .signInBlock a {
    color: #33be39;
    font-weight: bold;
}