.GreetingContainer {
    height: 100vh;
    width: 96%;
    margin-left: 2%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 77%, rgba(198,198,198,1) 100%);
}
.title {
    padding-top: 100px;
}
.title h2 {
    margin-left: 150px;
    font-size: 50px;
    font-weight: bold;
}